.responsive {
  	max-width: 200px;
  	max-height: 260px;
}

table, th, td {
  border: 2px solid;
  border-collapse: collapse;
  border-color: #764D9B;
}
th {
	background-color: #764D9B;
}
tr:hover {background-color: #D6EEEE;}